html{
    background-color: powderblue;
}
h1 {
    color: orange;
  }

  nav{
      padding: 20px;
      color:orange;
      float: right;
  }

  
p{
    text-align: center;
}

table{
    background-color: peru;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
}
